
/*global */
$iconfont-color:#6D7383;
$border-left-selected:#3369FF;
$active-bg-color:#ECF3FF;
$white-color:#FFF;


/*menu */
$menu-text-color: #1E2B4D;
$menu-icon-arrow:#6D7383;
$menu-tooltip-color:#fff;

/*text error */
$text-error-color:#FD6845;

/*button */
$button-primary-color:#214CD9;
$button-primary-disabled:#F4F7FC;
$button-text-disabled:#A3A9B7;
$button-text-color:#409EFF;

/*icon-close */
$icon-close-bg:#86909D;

/*tag  */
$tag-color:#242A33;


/*switch */
$switch-checked-color:#09D8CE;

/*message */
$message-warning-color:#FFC53D;
